@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RC Rocket";
  src: url(assets/fonts/RcRocketRegular-0WVW9.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --percentage: 1%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  position: relative;
  max-width: 1280px;
}

.transparent-text {
  color: #0f1b39 !important;
  /* text-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff, 4px 4px 0 #fff,
    5px 5px 0 #fff; */
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.fira-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.text-rc-rocket {
  font-family: "RC Rocket", sans-serif;
}

.dot-bg {
  background: linear-gradient(138deg, #ffffff21 9.61%, #fff0 105.41%);
}

.bar-process-bg {
  background: linear-gradient(
    to bottom,
    hsl(21, 100%, 55%) 0%,
    hsl(240 3% 35%) var(--percentage),
    hsl(240 3% 35%) 100%
  );
}

.project-active .project-title h2,
.project-active .project-title svg {
  color: #fff !important;
  transition: color 0.5s ease-in-out;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform !-translate-x-1/2 !-translate-y-1/2;
  }

  .btn {
    @apply bg-blue px-6 py-3 fira-bold border border-blue rounded-lg hover:bg-gray-1 hover:text-blue hover:transition-all duration-500 ease-in-out;
  }

  .btn-white {
    @apply bg-transparent px-6 py-3 fira-bold border border-white rounded-lg hover:bg-gray-1 hover:text-blue hover:transition-all duration-500 ease-in-out;
  }

  .headers {
    @apply text-rc-rocket max-sm:text-[6rem] sm:text-[8rem] md:text-[9rem] lg:text-[11rem] xl:text-[14rem] leading-[1] tracking-wide;
  }

  .dot {
    @apply absolute top-[var(--percentage)] left-1/2 transform -translate-x-1/2 w-4 h-4 bg-white rounded-full dot-bg border-[0.5px] border-[rgba(255,255,255,.16)] backdrop-blur-[100px] after:w-1 after:h-1 after:bg-white after:rounded-full after:absolute after:top-1/2 after:left-1/2 after:transform after:-translate-y-1/2 after:-translate-x-1/2 after:content-[''];
  }

  .skill {
    @apply flex items-center justify-center bg-gray-800 rounded-lg fira-semibold;
  }
}
